bs4
checklib
dnslib
eventlet
flask
gevent
gmpy2
hashpumpy
lxml
numpy
psycopg2-binary
pwntools
pycryptodome
PyMySQL
pyopenssl
python-socketio[asyncio_client]
python-socketio[client]
sympy
redis
regex
requests
websockets
z3-solver
opencv-python
pytesseract
ecdsa
tesseract
web3
PyJWT
httpx
cvc5
pillow
qrcode
